th {
    font-family: 'Chakra Petch', sans-serif
}
td {
    font-family: 'Chakra Petch' sans-serif;
}
tr {
    font-family: 'Chakra Petch' sans-serif;
}
td {
    background-color: rgb(159, 241, 255);
}
th {
    background-color: rgb(224, 197, 255);
}